@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteiner{
    width: 2000px;
    height: 1000px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(69, 149, 240, 0);

}

.conteiner h1{
    width: 600px;
    position: relative;
    bottom: 350px;
    left: 600px;
    font-size: 40px;
    color: #5fcae2;
}

table{
    width: 100%;
    border-collapse: collapse;
    position: relative;
    right: 300px;
    bottom: 140px;
    
}

th, td{
    border: 1px solid;
    padding: 10px;
    text-align: left;
    border-radius: 0px;
    border: none;
}


th{
    background-color: #5fcae2;
    color: #333;
}

tr:nth-child(odd){
    background-color: white;
}

tr:nth-child(even){
    background-color: rgba(234, 234, 234, 0.758);
}

button{
    width: 200px;
    height: 35px;
    border: none;
    border-radius: 20px;
   margin-bottom: 850px;
   background-color: #5fcae2;
   color: white;
   font-size: 16px;
   font-weight: 600;
   transform:  transform 2.0s ease;
   position: relative;
   left: 30px;
}

button:hover{
    transform: scale(1.1);
}

